<%- include("partials/header") -%>
<h1>Contact</h1>
<div>
  <p>
    <strong>Contact Us:</strong> Have questions, suggestions, or just want to
    say hello? Reach out to us at contact@myblog.com.
  </p>
  <p>
    <strong>Follow Us:</strong> Stay connected and get updates on social media!
    Find us on Twitter, Facebook, and Instagram for the latest web development
    trends and community discussions.
  </p>
  <p>
    <strong>Collaborate:</strong> Interested in contributing to MyBlog? We
    welcome collaboration opportunities. Reach out to our team to discuss
    potential partnerships or guest blogging.
  </p>
  <p>
    <strong>Tech Support:</strong> Encountering technical issues? Our support
    team is here to assist you. Email techsupport@myblog.com, and we'll get back
    to you promptly.
  </p>
  <p>
    <strong>Newsletter:</strong> Subscribe to our newsletter for exclusive
    content, early access to tutorials, and special announcements. Stay in the
    loop with MyBlog updates!
  </p>
  <p>
    <strong>Feedback:</strong> Your feedback matters! Share your thoughts on how
    we can improve MyBlog. We appreciate your input in making our platform
    better for the entire community.
  </p>
</div>
<%- include("partials/footer") -%>
